
body{
    display:flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container1 {
display: flex;
border: 2px solid #000000;
padding: 10px;
gap: 10px;
width: 150vw;
height: 300vh;

}
.flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 100px;
    height: 150px;
    flex-grow: 0;
}
#item1{
    background-color: crimson;
}
#item2{
    background-color: blueviolet;
}
#item3{
    background-color: darkcyan;
}