@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@100..900&display=swap');

body{
    background-image: url(redbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Bebas Neue";
}
.heading{
    font-size: 3.5rem;
}
.subheading{
    font-size: 2.5rem;
}
p{
    font-size: 1.5rem;
    color:ivory
}
.yellow{
    font-weight: bold;
    color: yellow;
}
.red{
    font-weight: bold;
    color: white;
}
.gold{
    color: gold;
}

.logo{
    width: 190px;
    margin-top: 0%;
}
